/* Write your CSS here */
.time-line-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.time-container {
  width: 900px;
  height: auto;
  display: flex;
  justify-content: center;
}
.heading {
  color: #1e293b;
  font-size: 28px;
  font-family: Roboto;
  text-align: center;
  margin-bottom: 10px;
}
.high-heading {
  color: #0967d2;
  font-weight: 500;
  text-align: center;
}
